@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neon-purple/50;
}